
body {
    background: dimgrey;
}

/*adding text alignement*/
h2.template{
    color : white;
    text-align: center;

}

div.template {
    background-color: black;
    color: white;
    margin: auto;
    padding: 20px;

}

ol.template {
    color: white;
    text-align: left;
 }

li.template {
    color: white
}